<ion-header>
  <ion-toolbar>
    <ion-title>Booking</ion-title>
  </ion-toolbar>
  <ion-segment mode="md" value="map" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="one">
      <ion-label>Upcoming </ion-label>
    </ion-segment-button>
    <ion-segment-button value="two">
      <ion-label>Past</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="mainbg">
  <div *ngIf="loggedIn!='true'" style="margin-top: 47%;">
    <ion-row>
      <ion-col size=3></ion-col>
      <ion-col size=6>
        <div id="loginbox" (click)="loginnow()">
          <ion-label style="font-size: 20pt;color: #000000;font-weight: bold;">
            Login
          </ion-label>
        </div>
      </ion-col>
      <ion-col size=3></ion-col>
    </ion-row>
  </div>
  <div *ngIf="loggedIn=='true'">

    <div *ngIf="segmentModel == 'one'">

      <ion-list class="newcard">
        <div *ngFor="let item of upcomingBookingArr">
          
          <ion-item-sliding *ngIf="item.status=='1'">
            <ion-item>

              <ion-card>
                <ion-card-content>
                  <div class="newside">
                    <p>{{item.month}}
                    </p>
                    <span>{{item.day}}</span>
                  </div>
                  <div class="newcontent">
                    <h2>{{item.vendor_business}}</h2>
                    <h5>{{item.min_hours}}</h5>
                    <p>{{item.vendor_business}}, {{item.vendor_addr1}}, {{item.vendor_addr2}}, {{item.vendor_town}},
                      {{item.vendor_postcode}}, {{item.vendor_country}}</p>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-item>
            <ion-item-options>
              <ion-item-option (click)="cancelBooking(item)"> 
                <img slot="top" src="assets/images/icons/crosswhite.svg" />
                Cancel
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding disabled="true" *ngIf="item.status=='3'">
            <ion-item>
              <ion-card>
                <ion-card-content>
                  <div class="newside">
                    <p>{{item.month}}
                    </p>
                    <span>{{item.day}}</span>
                  </div>
                  <div class="newcontent">
                    <h2>{{item.vendor_business}}</h2>
                    <h5>{{item.min_hours}}</h5>
                    <p>{{item.vendor_business}}, {{item.vendor_addr1}}, {{item.vendor_addr2}}, {{item.vendor_town}},
                      {{item.vendor_postcode}}, {{item.vendor_country}}</p>
                  </div>
                </ion-card-content>
                <div class="newoverlay">
                  <p>Cancelled</p>
                </div>
              </ion-card>
    
            </ion-item>
            <ion-item-options>
              <ion-item-option>
                <img slot="top" src="assets/images/icons/crosswhite.svg" />
                Cancel
              </ion-item-option>
            </ion-item-options>
    
          </ion-item-sliding>
        </div>

      </ion-list>
    </div>
    <div *ngIf="segmentModel === 'two'">
      <ion-list class="newcard">
        <ion-item-sliding *ngFor="let item of pastBookingArr">
          <ion-item>
            <ion-card>
              <ion-card-content>
                <div class="newside">
                  <p>{{item.month}}
                  </p>
                  <span>{{item.day}}</span>
                </div>
                <div class="newcontent">
                  <h2>{{item.vendor_business}}</h2>
                  <h5>{{item.min_hours}}</h5>
                  <p>{{item.vendor_business}}, {{item.vendor_addr1}}, {{item.vendor_addr2}}, {{item.vendor_town}},
                    {{item.vendor_postcode}}, {{item.vendor_country}}</p>
                </div>
              </ion-card-content>
              <ion-button expand="full" shape="round" class="newbtn" (click)="bookAgain(item)">Book again</ion-button>
            </ion-card>
          </ion-item>

        </ion-item-sliding>


      </ion-list>
    </div>
  </div>
</ion-content>
<!-- <ion-item-sliding>
          <ion-item>
            <ion-card>
              <ion-card-content>
                <div class="newside">
                  <p>Sep</p>
                  <span>
                    12
                  </span>
                </div>
                <div class="newcontent">
                  <h2>Opal House offices</h2>
                  <h5>01:30PM - 02:30PM</h5>
                  <p>Opal House, 46 Opal Street, Manchester, M23 JY</p>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-item>
  
          <ion-item-options>
            <ion-item-option expandable>
              <img slot="top" src="assets/images/icons/crosswhite.svg" />
              Cancel
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
          <ion-item>
            <ion-card>
              <ion-card-content>
                <div class="newside">
                  <p>Sep</p>
                  <span>
                    12
                  </span>
                </div>
                <div class="newcontent">
                  <h2>Terrence Square Lounge</h2>
                  <h5>04.00PM -05.00PM</h5>
                  <p>Opal House, 46 Opal Street, Manchester, M23 JY</p>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-item>
  
          <ion-item-options>
            <ion-item-option expandable>
              <img slot="top" src="assets/images/icons/crosswhite.svg" />
              Cancel
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding> -->

<!-- Cancelled design  -->
<!-- <ion-item-sliding disabled="true">
          <ion-item>
            <ion-card>
              <ion-card-content>
                <div class="newside">
                  <p>Sep
                  </p>
                  <span>
                    25
                  </span>
                </div>
                <div class="newcontent">
                  <h2>Opal House offices</h2>
                  <h5>04:30PM - 06:30PM</h5>
                  <p>Terrence Square Lounge,78 Terrence Square, Manchester, M5 2FP</p>
                </div>
              </ion-card-content>
              <div class="newoverlay">
                <p>Cancelled</p>
              </div>
            </ion-card>
  
          </ion-item>
          <ion-item-options>
            <ion-item-option>
              <img slot="top" src="assets/images/icons/crosswhite.svg" />
              Cancel
            </ion-item-option>
          </ion-item-options>
  
        </ion-item-sliding> -->

<!-- <ion-item-sliding>
          <ion-item>
            <ion-card>
              <ion-card-content>
                <div class="newside">
                  <p>Jul
                  </p>
                  <span>12</span>
                </div>
                <div class="newcontent">
                  <h2>Opal House offices</h2>
                  <h5>01:30PM - 02:30PM</h5>
                  <p>Opal House, 46 Opal Street, Manchester, M23 JY</p>
                </div>
              </ion-card-content>
              <ion-button expand="full" shape="round" class="newbtn">Book again</ion-button>
            </ion-card>
          </ion-item>
  
        </ion-item-sliding>
  
        <ion-item-sliding>
          <ion-item>
            <ion-card>
              <ion-card-content>
                <div class="newside">
                  <p>Jul</p>
                  <span>12</span>
                </div>
                <div class="newcontent">
                  <h2>Terrence Square Lounge</h2>
                  <h5>04.00PM -05.00PM</h5>
                  <p>Terrence Square Lounge,78 Terrence Square, Manchester, M5 2FP</p>
                </div>
              </ion-card-content>
              <ion-button expand="full" shape="round" class="newbtn">Book again</ion-button>
            </ion-card>
          </ion-item>
  
        </ion-item-sliding> -->